* {
  box-sizing: border-box;
}
body {
  background-image: url(Background.jpg);
  background-attachment: fixed;
  font-size: 100%;
  padding: 0px;
}
a{
  text-decoration: none;
}
a:visited {
  color: blue;
}
h1 {
  font-size: 150%;
  word-wrap:
  background-color: rgba(255,222,173, 0.4);
  margin: -8px 0px 8px -8px;
  display: ;
}
h1:hover {
  color: red;
}



details {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 50% 25% 30% 25%;
  background-color: rgba(190, 120, 20, 0.6);
  margin-top: 100px;
}
summary {
  padding: 10px;
  text-align: center;
}
.list-content {
  list-style: none;
  padding: 20px;
  margin: 20px 20px 20px 0;
  display: inline-block;
  background-color: rgba(100, 100,100, 0.5);
  border-radius: 40%;
}



main {
  margin-top: 50px;
  position: relative;
  font-weight: bold;
}



fieldset {
  border-top-style: none;
  background-color: rgba(125,125,125, 0.6);
  border-bottom-style: none;
  border-right-style: none;
  border-color: rgba(0, 20,200, 0.7);
  border-width: 3px;
  margin-top: 50px;
}
legend {
  vertical-align: 100px;
  position: relative;
  bottom:  10px;
}
code {
  display: block;
  clear: right;
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 30px;
}
strong {
font-size: 13px;
}
span {
  float: right;
  width: 90%;
  font-size: 11px;
}
table, th, tr, td {
  border-style: solid;
  background-color: rgba(210, 180, 140, 0.2);
}
th {
  background-color: rgba(210, 180, 140, 0.9);
}
